{% extends 'base.html' %}
{% load weather_filters %}

{% block content %}
<body class="bg-[#252525] min-h-screen py-10 px-4">
    <h1 class="text-3xl font-bold text-center text-white mb-8">{{ title }}</h1>

    <div class="max-w-4xl mx-auto bg-gray-800 rounded-xl shadow-lg p-4 mb-10">
        <form method="post" class="flex gap-4 items-center">
            {% csrf_token %}
            <div class="flex-grow">
                {{ form.city.as_widget }}
            </div>
            <button type="submit"
            class="whitespace-nowrap bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-lg transition">
                Узнать погоду
            </button>
        </form>
    </div>

    {% if error %}
        <p class="text-red-400 text-center font-medium">{{ error }}</p>
    {% endif %}

    {% if weather_data %}
    {% with day=weather_data.days.0 %}
    <div class="max-w-5xl mx-auto bg-gray-900 rounded-xl shadow-md p-6 mb-10">
        <div class="flex justify-between items-center mb-2">
            <h2 class="text-2xl font-semibold text-white">{{ weather_data.resolvedAddress }}</h2>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="city" value="{{ weather_data.resolvedAddress }}">
                <button class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold px-4 py-2 rounded-lg text-sm transition">
                    ⭐ Добавить в избранные
                </button>
            </form>
        </div>
    
        <p class="italic text-gray-400 mb-4">{{ weather_data.description }}</p>
    
        <div class="grid md:grid-cols-2 gap-4 text-gray-200">
            <h1 class="text-6xl font-bold text-white mb-2">{{ day.temp|round }}°C </h1>
            <br>
            <p><strong>🌡Минимум:</strong> {{ day.tempmin|round }}°C | <strong>🌡Максимум:</strong> {{ day.tempmax|round }}°C</p>
            <p><strong>🥵 Ощущается как:</strong> {{ day.feelslike|round }}°C</p>
            <p><strong>💧 Влажность:</strong> {{ day.humidity|round }}%</p>
            <p><strong>🌥 Условия:</strong> {{ day.conditions }}</p>
            <p><strong>💨 Ветер:</strong> {{ day.windspeed|round }} км/ч, порывы до {{ day.windgust|round }} км/ч</p>
            <p><strong>🌅 Восход:</strong> {{ day.sunrise }} | <strong>🌇 Закат:</strong> {{ day.sunset }}</p>
        </div>
    </div>
    
    <h3 class="text-xl font-bold text-center text-white mb-4">Почасовая погода</h3>
    <div class="px-4">
        <div class="grid grid-cols-6 gap-4">
            {% for hour in day.hours|slice:":24" %}
            <div class="bg-gray-800 text-white rounded-xl p-4 shadow text-sm">
                <p class="text-lg font-semibold mb-2 text-center">{{ hour.datetime|short_time }}</p>
                <p>🌡 {{ hour.temp|round }}°C</p>
                <p>🥵 {{ hour.feelslike|round }}°C</p>
                <p>💧 {{ hour.humidity|round }}%</p>
                <p>🌧 {{ hour.precip }} мм</p>
                <p>☁️ {{ hour.cloudcover|round }}%</p>
                <p>☀️ УФ: {{ hour.uvindex|round }}</p>
                <p>📋 {{ hour.conditions }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endwith %}
{% endif %}
{% endblock %}